- provide(:title, "Home")
.center.jumbotron
  %h1 Welcome to the Starter App
  %h2
    This is the home page for the starter application.
  -#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
