<footer class="footer">
  <small>
    The starter app by <a href="http://srbdev.com/">srbdev</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>